<div class="container">
  <div class="card-panel">
    <%= form_for @user do |f| %>

    <div>
      <h5>Add a Photo:</h5>
     <%= f.file_field :avatar %>
    </div>
    <div>

    <%= f.text_field :first_name, placeholder: "First Name" %>
    </div>
    <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
    </div>
    <div>
    <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div>
      <%= f.text_field :location, placeholder: "Location" %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: "Password" %>
    </div>


    <br>
      <%= f.submit "Sign up", :class => "button" %>
    <br>

    <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
