<div class="container">
  <div class="card-panel">

    <div class="row">
      <div class="col l6">
        <h2><%= @city.name %></h2>
        <button class="btn waves-effect waves-light indigo accent-3">
          <%= link_to "Create Post", new_city_post_path(@city[:id]), {style: "color: white"} %>
          <i class="material-icons right">send</i>
        </button>


        <h5>Country: </h5><%= @city.country %>
      </div>
      <div class="col l6">
        <img class="responsive-img" src="/<%= @city.id %>.jpg">
      </div>
    </div>

        <h5>Description: </h5> <%= @city.description %></br>
        </br>


        <h5>Posts: </h5>
        <% @posts.each do |post| %>
        <div class="card-panel">
          <div class="green">
            <h4><i class="tiny material-icons white-text">message</i><a href="/cities/<%= @city.id %>/posts/<%= post.id %>" class="button-link">  <%= post.title %></h4></a>
            <i class="tiny material-icons white-text">perm_identity</i><strong><a href="/users/<%= post.user_id %>" class="button-link">  <%= post.user.first_name %> <%= post.user.last_name %></a></strong></br>
          </div>
          <%= truncate(post.description, :length => 1000) %></br><a href="/cities/<%= @city.id %>/posts/<%= post.id %>" class="text-link">See more...</a>
        </div>

        <% end %>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
